@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
       
        div.center-cropped {
            min-width: 350px;
            min-height: 100px;
            overflow: hidden;
        }

            div.center-cropped img {
                /*height: 100%;*/
                min-width: 100%;
                left: 50%;
                position: relative;
                transform: translateX(-50%);
            }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    @*FACEBOOK PIXEL*@
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1997023217077687');
        fbq('track', 'PageView');
        fbq('track', 'Subscribe');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1997023217077687&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>

    <div class="center-cropped">
        <img src="~/images/banner_CNY-01.jpg" alt="" />
    </div>


    @*<div id="myCarousel">
            <img src="~/images/banner_CNY.jpg" alt="ASP.NET" class="img-responsive" width="100%"/>
        </div>*@
    <div class="row" id="ThankYouDiv" style="text-align: center">
        <div class="col-md-12">
            <h2 style="text-align: center; color: #d0021b;">HAVE A SAFE JOURNEY</h2>
            <br />
            <h4>
                Thank you for planning your trip home this Chinese New Year with us!
                <br />
                Please check your mailbox for travelling itinerary.
            </h4>
            <br />
        </div>
        <br>
    </div>
    
    <img src="~/images/buahtangan_bag.png" width="100%" />
    <br />
    <br />
    <a href="https://plusmiles.com.my"><img src="~/images/PLUSMilesBanner-01.png" style="width:100%;" /></a>
    @*<a href="https://plusmiles.com.my"><img src="~/images/PLUSMiles-ThankYou.png" style="width:100%;" /></a>*@

</body>

