@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
        .searchbox {
            border: 1px solid #456879;
            border-radius: 6px;
            height: 22px;
            width: 150px;
            margin-top: 5px;
        }

        .LabelStyle {
            /*background-color: White;
            color: black;
            border-style: solid;
            text-space-collapse: collapse;*/
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <div id="myCarousel">
        <img src="~/images/banner_CNY.jpg" alt="ASP.NET" class="img-fluid" width="100%" />
    </div>
    <div class="row" id="ThankYouDiv" style="text-align: center">
        <div class="col-md-12">
            <h2 style="text-align: center; color: #d0021b;">HAVE A SAFE JOURNEY</h2>
            <br />
            <h4>
                Thank you for planning your trip home this Chinese New Year with us!
            </h4>
            <br />
        </div>
        <br>
    </div>
    <a href="https://plusmiles.com.my"><img src="~/images/PLUSMiles-ThankYou.png" style="max-width:100%;" /></a>

</body>

